.ps:hover {
    box-shadow: 0px 0px 40px -10px #00C7FD;
}

.ai:hover {
    box-shadow: 0px 0px 40px -10px #FF7A1B;
}

.id:hover {
    box-shadow: 0px 0px 40px -10px #FE418B;
}

.figma:hover {
    box-shadow: 0px 0px 40px -10px #00CE83;
}

.xd:hover {
    box-shadow: 0px 0px 40px -10px #FD2BC2;
}

.vs:hover {
    box-shadow: 0px 0px 40px -10px #0876B9;
}

.gulp:hover {
    box-shadow: 0px 0px 40px -10px #D04A46;
}

.css:hover {
    box-shadow: 0px 0px 40px -10px #1B74B9;
}

.js:hover {
    box-shadow: 0px 0px 40px -10px #F3DD19;
}

.html:hover {
    box-shadow: 0px 0px 40px -10px #E34D26;
}