.section {
    position: relative;
    width: 100%;
    height: auto;
}

/*Первая секция 
================= >
*/

.navien {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 100vh;
}

.start {
    margin-top: 95px;
    z-index: 1001;
    width: 60%;
    object-fit: contain;
}

.dominates {
    position: absolute;
    object-fit: cover;
    /* width: 50%; */
    animation: 8s linear 0s normal none infinite running dominates;
}

.mobile {
    display: none;
}

@keyframes dominates {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}

@media screen and (max-width: 970px) {
    .start {
        margin-top: 51px;
    }
}

@media screen and (max-width: 470px) {
    .start {
        margin-top: 0px;
    } 

    .dominates {
        /* width: 100%; */
        margin-top: -41px;
    }

    .desktop {
        display: none;
    }

    .mobile {
        display: block;
    }
}
/*Первая секция 
================= <
*/

/*Вторая секция 
================= >
*/

.intro {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
}

.intro img {
    object-fit: contain;
}

.max {
    width: 100%;
    height: 100%;
}

.min {
    width: 60%;
    height: 100%;
}

/*Вторая секция 
================= <
*/

/*Линии 
============== >
*/

.poloski {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top {
    margin-top: 5%;
}

.poloski img {
    width: 30%;
    object-fit: cover;
}

.center {
    display: flex;
    justify-content: center;
}

/*Линии 
============== <
*/

/* Галерея 
============== >
*/

.gallery {
    display: flex;
    justify-content: center;
    align-items: center;
}

.gallery span {
    padding: 15px 0;
    font-family: "GOTHIC";
    font-size: 3.2rem;
    color: #E4EAEA;
    opacity: .9;
}

@media screen and (max-width: 470px) {
    .gallery span {
        font-size: 1.6rem;
    }
}

/* Галерея 
============== <
*/

/* Галерея работ
================== >
*/

.gallery_work {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
}

.gallery_work img {
    width: 100%;
    object-fit: contain;
}
/* Галерея работ
================== <
*/