.section {
    position: relative;
    width: 100%;
    height: auto;
}

.img_center {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.desktop {
    display: block;
    width: 100%;
    height: 100vh;
    object-fit: contain;
}

.mobile {
    display: none;
    width: 100%;
    height: 100vh;
    object-fit: contain;
}

@media screen and (max-width: 1250px) {
    .desktop {
        width: 80%;
    }
}

@media screen and (max-width: 470px) {
    .desktop {
        display: none;
    }
    .mobile {
        width: 100%;
        height: 100%;
        display: block;
    }
}

@media screen and (max-width: 970px) {
    .desktop {
        width: 90%;
    }
}
/*Первая секция <*/
.do_it_with {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.do_it_with img {
    max-width: 100%;
    height: 100%;
    object-fit: contain;
}

@media screen and (max-width: 960px) {
    .do_it_with img {
        height: auto;
    }
}

@media screen and (max-width: 470px) {
    .bg_ready {
        width: auto;
    }
}

.ready {
    width: 60%;
}

.do_it_with span {
    position: absolute;
    display: flex;
    justify-content: center;
    font-family: "GOTHIC"; 
    font-size: 32px;
    color: #e4eaea;
    user-select: none;
    margin-top: 40%;
    opacity: .5;
}

.instruments {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40%;
    padding: 18px 18px;
    background-color: #0D1111;
    margin-bottom: 60px;
}

.icon_link {
    display: block;
    width: 55px;
    transition: all .3s linear;
}

#line {
    margin: 0 5px;
    height: 60px;
}

@media screen and (max-width: 1480px) {
    .do_it_with span {
        font-size: 24px;
        margin-top: 35%;
    }

    .instruments {
        width: 70%;
        padding: 12px 12px;
    }

    #line {
        margin: 0;
        height: 35px;
    }

    .icon_link {
        width: 40px;
    }
}

@media screen and (max-width: 970px) {
    .do_it_with span {
        font-size: 24px;
        margin-top: 35%;
    }

    .instruments {
        width: 60%;
        padding: 12px 12px;
        margin-bottom: 20px;
    }

    #line {
        margin: 0;
        height: 35px;
    }

    .icon_link {
        width: 30px;
    }
}

@media screen and (max-width: 750px) {
    .do_it_with span {
        font-size: 18px;
        margin-top: 30%;
    }

    .instruments {
        width: 70%;
        padding: 9px 9px;
    }

    #line {
        margin: 0;
        height: 20px;
    }

    .icon_link {
        width: 18px;
    }
}


/* From  Idea 
============== <
*/
.from_idea {
    display: flex;
    justify-content: center;
    max-width: 100%;
}

.bg_ready {
    width: 80%;
    object-fit: contain;
}

@media screen and (max-width: 960px) {
    .bg_ready {
        width: 90%;
    }
}

@media screen and (max-width: 470px) {
    .bg_ready {
        width: 100%;
    }
}


/* poloski 
============== <
*/

.poloski {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top {
    margin-top: 5%;
}

.poloski img {
    width: 30%;
    object-fit: cover;
}

.center {
    display: flex;
    justify-content: center;
}

/* gallery 
============== <
*/

.gallery {
    display: flex;
    justify-content: center;
    align-items: center;
}

.gallery span {
    padding: 15px 0;
    font-family: "GOTHIC";
    font-size: 32px;
    color: #E4EAEA;
    opacity: .9;
}

@media screen and (max-width: 470px) {
    .gallery span {
        font-size: 16px;
    }
}

/* gallery_work
============== <
*/

.gallery_work {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
}

.gallery_work img {
    width: 100%;
    object-fit: contain;
}